.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(0deg, #30cfd0, #330867);
}

.login-form {
  width: 100%;
  padding: 1.5em 2.5em !important;
  height: 74%;
}
